.item-container {
    width: 100vw;
}

.wrapper__item {
    display: flex;
    width: 1400px;
    margin: 0 auto;
    margin-top: 50px;
}

.item-image {

    width: 50vw;
}

.item-block {
    width: 50vw;
}

.item-title {
    width: 300px;
    margin: 20px auto;
    text-align: center;
}

.wrapper__descr {

}

.item-block-item {
    /* width: 50vh; */
    text-align: center;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
}

.item-description {
    width: 50vh;
    margin: 50px 50px;
}

.item-username-owner {
    margin-left: 10px;
}
