.user-container {
    width: 1000px;
    margin: auto;
    margin-top: 50px;
    display: flex;
}

.profile-header{
    margin: 0 auto;
}

.user-name {

}

.user-email {
    
}

.user-photo {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: 50% 50%;
}

.item-card__user {
    width: 1000px;
    margin: auto;
}

.item-card__user-title {
    margin-top: 50px;
}