.no_items {
    margin-top: 100px;
    display: flex;
}

.no_items_text {
    margin: 0 auto;
}

.container_items-list {
}

.header_items {
    margin: auto;
    width: 1000px;
}

.title_items {
    text-align: center;
    font-size: 20px;
}