.wrap_head {
    background-color: rgb(250, 250, 250);
}

.header_app {
    margin: auto 50px;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reg__link {
    text-decoration: none;
    cursor: pointer;
    color: black;
    margin-left: 20px;
}

.reg__link:hover {
    color: red;
}

.wrap_foot {
    background-color: rgb(250, 250, 250);

    width: 100%;
    position: fixed;
    bottom: 0;
}

.footer_app {
    display: flex;
    align-items: baseline;
}

.tg__link {
    text-decoration: none;
    cursor: pointer;
    color: black;
    font-size: 10px;
    margin-left: auto;
    margin-right: 50px;
}

.tg__link:hover {
    color: red;
}
